@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding: 35px;
  
    background: #f1b94a;
    color: #131313;
    font-family: 'Balsamiq Sans', cursive;
  }
  h1 {
    margin: 15px 0;
    font-weight: 900;
    font-size: 28px;
    text-align: center;
  }
  input {
    transition: 0.5s ease-in-out;
    margin: 10px 0;
    font-size: 18px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.11);
    border: none;
  }
  .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    margin: 35px 0;
  }
  button {
    margin: 5px;
    padding: 10px;
    border: none;
    font-size: 18px;
    transition: 0.5s ease-in-out;
    font-family: 'Balsamiq Sans', cursive;
  }
  label {
    font-size: 20px;
  }
  form {
    height: 20%;
    display: flex;
    flex-direction: column;
    padding: 0;
    max-width: 370px;
    margin: 5px auto;
  }
  form button {
    background: rgb(231, 124, 133);
    width: 100%;
    margin: 5px 0;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    border-style: solid;
    border-color: black;
  }
  .start {
    background: #85d14f;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    border-style: solid;
    border-color: black;
  }
  .break {
    background: #434be9;
    color: #000000;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
  }
  .reset {
    background: #c03030;
    color: #080808;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
  }
  .pause {
    background: #eec7d6;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
  }
  .resume {
    background: rgb(187, 131, 243);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    border-style: solid;
    border-color: black;
  }
  .clock {
    padding: 3px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 30%;
    font-size: 24px;
  }
  .progress-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .progress-ring__circle {
    transition: 0.5s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke: rgb(51, 192, 26);
  }

  
  .danger {
    stroke: rgb(243, 17, 28);
    animation: pulse 0.9s ease-in-out infinite;
  }
  
  @keyframes pulse {
    0%,
    100% {
      transform: rotate(-90deg) scale(1);
    }
    50% {
      transform: rotate(-90deg) scale(1.05);
    }
    75% {
      transform: rotate(-90deg) scale(0.8);
    }
  }
  
  @media screen and (min-width: 768px) {
    body {
      display: grid;
      grid-template-areas:
        "head head"
        "clock form"
        "btns ji";
    }
    .btn-group {
      grid-area: btns;
      justify-content: center;
    }
    .clock {
      grid-area: clock;
      height: 100%;
    }
    h1 {
      grid-area: head;
  
      align-self: center;
    }
    form {
      align-self: center;
      justify-self: center;
      grid-area: form;
      width: 50%;
      justify-content: space-around;
    }
    footer {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 375px) {
    form {
      height: 40%;
    }
    footer {
      position: static;
    }
    button {
        padding: 6px;
        margin: 1px;
        font-size: 15px;
    }
  }